<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/reset.css">
    <!-- <script src="/static/main.js"></script> -->
    <script src="https://kit.fontawesome.com/66c674ac51.js" crossorigin="anonymous"></script>
    <title>Whiskey</title>
</head>
<body>
    <div class="main_bar">

        <div class="main_bar_icon">
            <a href="#"><i class="fa-solid fa-whiskey-glass"></i></a>
            <a href="">Whiskey</a>
        </div>

        <div class="main_bar_menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Photo</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>

        <div class="main_bar_subicon">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>

    </div>
<!-- -------------------------------- 하단으로 슬라이드 -->
<section class="main_back">
    <div class="container">
        <div class="slides">
            <div class="slide">
                <img src="/static/와일드터키.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="/static/글렌모렌지.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="/static/글렌피딕.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="/static/달모어.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="/static/발렌타인.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="/static/글렌모렌지.jpeg" alt="">
            </div>
        </div>
    </div>
    <div class="slide-controls">
        <button id="prev-btn">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <button id="next-btn">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</section>

</body>
<script src="/static/main.js"></script>
</html>