<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project.css">
    <link rel="stylesheet" href="proreset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66c674ac51.js" crossorigin="anonymous"></script>
    <title>유영재 B반 10조</title>
</head>
<body>

<div class="main_back">
    <div class="container">
        <div class="subcontainer">
        <div class="cards">
            <div class="card">
                <div class="card__face">
                    <img src="..." alt="">
                </div>
                <div class="read">
                    <div class="text">
                        <h1 class="text_제목">Wild Turkey</h1>
                        <h2 class="text_sub제목">Rare Breed</h2>
                        <p class="text_문단">
                            와일드터키 레이브리드는 <br>
                            제조 과정에서 물을 한방울도 섞지 않은<br>
                            Barrel Proof (배럴 프루프) 버번 위스키이며,<br>
                            세계에서 가장 많이 팔리는 <br>
                            Barrel Proof 버번 위스키입니다. <br>
                            물을 섞지 않았기 때문에 위스키 원액의 <br>
                            강렬한 맛과 개성을 느낄 수 있습니다.<br>
                        </p>
                        <p class="text_제목">Taste</p><br>
                        <p class="text_문단">
                            오픈하면 강하고 진한 캐러멜, 단풍의 향이 중심적으로<br> 올라와주며,
                            알코올의 향은 느낄수없습니다.<br> 입안에 머금으면 알코올의 스파이시 때문에
                            <br>머금지 않는것을 추천드리며,<br> 스파이시, 스모키, 단풍의 향이 중심적으로 느껴집니다<br>
                            달콤함과 바닐라의 향은 자연스럽게<br> 입고 있는듯한 느낌으로 올라와줍니다.<br>
                            강하면서도 은은하게 오래 느껴지는것이 <br>두껍다고 표현할수있습니다<br>
                            넘어가고나서 단풍나무의향, <br>캐러멜, 바닐라, 스모키가<br>
                            벨런스 좋게 느껴지지만,<br> 바닐라의 향이 좀더 진하게 느껴집니다.<br>
                            벨런스를 무너트리기보다는 조금더 강하다는<br>
                            느낌을 받을수있으며 그여운은 오래갑니다<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>s
    </div>
</div>

</body>

</html>


