*{
    box-sizing: border-box;
}


body{
    width: 100%;
    max-height: 800px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('/static/3.jpeg');
    background-size: cover;
    position: relative;
}



a{
    text-decoration: none;
    color: white;
}

.main_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    opacity: 0.7;
}

.main_bar_icon{
    padding-left: 24px;
    font-size: 28px;
    position: relative;
}

.main_bar_menu ul{
    display: flex;;
}

.main_bar_menu li{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    position: relative;

}

.main_bar_menu ul li :hover{
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 12px 15px;
    transition: 1s;
}

.main_bar_subicon{
    font-size: 20px;
    padding-right: 24px;
}

.main_bar_subicon a{
    padding: 4px;
}

.main_back{
    margin-top: 50px;
    margin-left: 110px;
    margin-right: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: auto;
    height: 700px;
    background-color:rgb(245, 240, 240, 0.1);
    /* overflow: hidden; */
}

/* --------------------- */

.container{
    display: flex;
    width: 1100px;
    height: 600px;
    /* overflow: hidden; */
}

.subcontainer{
    display: flex;
    width:500vh;
}

.cards{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
}


.card{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    height: 600px;
}



.card__face img{
    width: 400px;
    height: 600px;
    border-radius: 30px;
    box-shadow: 0px 3px 18px 3px rgb(243, 241, 241, 0.4)
}
.read{
    margin-left: 30px ;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 3px 18px 3px rgb(243, 241, 241, 0.4)
}
.text{
    font-family: 'Gamja Flower', cursive;
    font-family: 'Island Moments', cursive;

    width: 400px;
    padding-top: 30px;   
}

.text_제목{
    font-size: xx-large;
}

.text_sub제목{
    font-size: x-large;
}
.text_문단{
    text-align: left;
}