<div class="btn">
                            <footer class="text1">떡입반이당당</footer>
                            <button class="button1">바꾸기</button>
                            <button class="button2">지우기</button>
                          </div>




.form-control1 {
  width: 150px;
  height: 84px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  text-align: center;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.form-control2 {
  width: 845px;
  height: 84px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  text-align: center;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
  width: 150px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}

.btn{
  display: flex;
}

.button1 {
  margin-top: 25px;
  margin-left: 720px;
  margin-right: 20px;
  height: 40px;
  width: 90px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button1:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}

.button2 {
  margin-top: 25px;

  height: 40px;
  width: 90px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button2:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}